<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Login</title>
    <style>
        body {
            background-color: rgb(21, 47, 7);
        }

        .card {
            background-color: rgb(227, 228, 210);
        }
        .card-header{
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Admin Login</div>
                    <div class="card-body">
                        <form id="loginForm" action="/admin/adminlogin" method="post">
                            <div class="form-group"> 
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-danger">Login</button>
                        </form>
                        <span>
                            <p id="errorText" style="margin-left: 5px; color: rgb(255, 5, 5);">{{perror}}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
