<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JOB FINDER UZZ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/home.css">
  </head>
  <body>

    <!-- =======================NAVBAR SECTION================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">JOB FINDER</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <form class="d-flex">
              <button class="btn0">Register</button>
              <button class="btn1 mx-2"><a href="/logout" class="btn5">Log Out</a></button>
            </form>
          </div>
        </div>
      </nav>
  <!-- =============================MAIN SECTION============================================= -->

  <section class="main py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7">
                <h1>Find The Most Exciting <br>Start Up Jobs</h1>
                <input type="text" placeholder="job title or keyword">
                <button class="btn2 mt-5">FindJob</button>
            </div>
        </div>
    </div>
  </section>

       <!-- ====================================SECOND SECTION================================== -->

    <section class="ceta py-5">
        <div class="continer-fluid py-5 text-center">
            <p class="red">FEATURED TOURS PACKAGES</p>
            <h1>Browser Top Categories</h1>
            <div class="row py-5">
                <div class="col-lg-11 m-auto">
                    <div class="row py-5">
                       <div class="col-lg-3">
                         <div class="card my-3">
                            <div class="card-body">
                                <img class="img-fluid my-3" src="Top-Graphic-Design-Institute-in-Delhi- 1.png" alt="picture">
                                <h6>Design Creative</h6>
                                <h6 class="red">(786)</h6>
                            </div>
                         </div>
                       </div> 
                       <div class="col-lg-3">
                        <div class="card my-3">
                           <div class="card-body">
                               <img class="img-fluid my-3" src="OIP  2.jpeg" alt="picture">
                               <h6>Design Creative</h6>
                               <h6 class="red">(786)</h6>
                           </div>
                        </div>
                      </div> 
                      <div class="col-lg-3">
                        <div class="card my-3">
                           <div class="card-body">
                               <img class="img-fluid my-3" src="Top-Graphic-Design-Institute-in-Delhi- 1.png" alt="picture">
                               <h6>Design Creative</h6>
                               <h6 class="red">(786)</h6>
                           </div>
                        </div>
                      </div> 
                      <div class="col-lg-3">
                        <div class="card my-3">
                           <div class="card-body">
                               <img class="img-fluid my-3" src="OIP  2.jpeg" alt="picture">
                               <h6>Design Creative</h6>
                               <h6 class="red">(786)</h6>
                           </div>
                        </div>
                      </div> 
                    </div>
                </div>
                <div class="col-lg-11 m-auto">
                    <div class="row">
                       <div class="col-lg-3">
                         <div class="card my-3">
                            <div class="card-body">
                                <img class="img-fluid my-3" src="OIP  2.jpeg" alt="picture">
                                <h6>Design Creative</h6>
                                <h6 class="red">(786)</h6>
                            </div>
                         </div>
                       </div> 
                       <div class="col-lg-3">
                        <div class="card my-3">
                           <div class="card-body">
                               <img class="img-fluid my-3" src="Top-Graphic-Design-Institute-in-Delhi- 1.png" alt="picture">
                               <h6>Design Creative</h6>
                               <h6 class="red">(786)</h6>
                           </div>
                        </div>
                      </div> 
                      <div class="col-lg-3">
                        <div class="card my-3">
                           <div class="card-body">
                               <img class="img-fluid my-3" src="OIP  2.jpeg" alt="picture">
                               <h6>Design Creative</h6>
                               <h6 class="red">(786)</h6>
                           </div>
                        </div>
                      </div> 
                      <div class="col-lg-3">
                        <div class="card my-3">
                           <div class="card-body">
                               <img class="img-fluid my-3" src="Top-Graphic-Design-Institute-in-Delhi- 1.png" alt="picture">
                               <h6>Design Creative</h6>
                               <h6 class="red">(786)</h6>
                           </div>
                        </div>
                      </div> 
                    </div>
                      <div class="row py-5">
                        <div class="col-lg-5 m-auto">
                            <button class="btn3">BROWSE ALL SECTOR</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>

    <!-- =============================== THEIRD SECTION ================================== -->

    <section class="resume py-5 text-center text-white">
        <div class="continer py-5">
            <div class="row py-5">
                <div class="col-lg-10 m-auto">
                     <p class="pb-3">FEATURED TOURS PACKAGES</p>
                     <h1>Make a Diffrent with Your Online Resume</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 m-auto">
                    <button class="btn3">UPLOAD YOUR CV</button>
                </div>
            </div>
        </div>
    </section>

    <!-- ================================== FOURTH SECTON =========================================== -->


    <section class="job py-5">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-7">
                    <p class="red pt-5">WHAT ARE DOING</p>
                    <h1>24k Talented people are getting jobs</h1>
                    <p class="py-4" style="font-weight:700;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis<br> recusandae, dolore, dolorum, aperiam saepe deleniti ipsam<br> illo modi architecto iusto perspiciatis <br>possimus? Incidunt optio id hic nesciunt? Quos,<br> nesciunt laborum!
                    </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br> Debitis recusandae, dolore, dolorum, aperiam<br> saepe deleniti ipsam illo modi architecto iusto perspiciatis<br> possimus? Incidunt optio id hic nesciunt? Quos, <br>nesciunt laborum!
                    </p>
                    <button class="btn4 mt-3">POST A JOB</button>
                </div>
                <div class="col-lg-5 pt-3 mb-3">
                    <img src="img resposive.jpg" class="img-fluid mt-4" alt="image">
                </div>
            </div>
        </div>
    </section>

    <!-- ================================FIVETH SECTION=========================================== -->

    <section class="apply py-5">
        <div class="container text-center py-5">
            <p class="red text-white">APPLY PROCESS</p>
            <h1 class="text-white">How it work</h1>
            <div class="row py-5">
                <div class="col-lg-4 mt-3">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <div class="cirl">
                                <img src="download search.jpeg" class="img-fluid" alt="picture">
                            </div>
                            <h2>1.SEARCH A JOB</h2>
                            <p class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias voluptas error sunt ut iste, facilis sit accusamus illum voluptatum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <div class="cirl">
                                <img src="https://www.shutterstock.com/image-photo/happy-recruiter-interviewing-candidate-desk-260nw-2242948421.jpg" class="img-fluid" alt="picture">
                            </div>
                            <h2>1.SEARCH A JOB</h2>
                            <p class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias voluptas error sunt ut iste, facilis sit accusamus illum voluptatum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <div class="cirl">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2shjLpLFgsznDEO6x6LziBFcxNmx7agAubFyMTN1CC0ong96yULYjkC7VFj1uk2vMCFM&usqp=CAU" class="img-fluid" alt="picture">
                            </div>
                            <h2>1.SEARCH A JOB</h2>
                            <p class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias voluptas error sunt ut iste, facilis sit accusamus illum voluptatum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <div class="cirl">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2shjLpLFgsznDEO6x6LziBFcxNmx7agAubFyMTN1CC0ong96yULYjkC7VFj1uk2vMCFM&usqp=CAU" class="img-fluid" alt="picture">
                            </div>
                            <h2>1.SEARCH A JOB</h2>
                            <p class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias voluptas error sunt ut iste, facilis sit accusamus illum voluptatum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <div class="cirl">
                                <img src="download search.jpeg" class="img-fluid" alt="picture">
                            </div>
                            <h2>1.SEARCH A JOB</h2>
                            <p class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias voluptas error sunt ut iste, facilis sit accusamus illum voluptatum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <div class="cirl">
                                <img src="https://incognitoinventions.com/wp-content/uploads/2019/02/green-job-2014.jpg" class="img-fluid" alt="picture">
                            </div>
                            <h2>1.SEARCH A JOB</h2>
                            <p class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias voluptas error sunt ut iste, facilis sit accusamus illum voluptatum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ===================================FOOTER SECTION======================================== -->

    <section class="footer pt-5">
        <div class="container-fluid pt-5">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 class="py-5">About Us</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                 voluptates incidunt fugiat ullam quasi suscipit </p>
                        </div>
                        <div class="col-lg-3">
                            <h3 class="py-5">Contact info</h3>
                            <p> Address : karnata kodagu virajpete halugundha kondangeri
                             <p class="link mt-3">tel ; 006700800 </p> 
                             <p class="link">Email: IEIEII@gmail.com</p>
                            </p>
                        </div>
                        <div class="col-lg-3">
                            <h3 class="py-5">Importent Link</h3>
                            <p class="link"> viwe project </p>
                            <p class="link">Contact us</p>
                            <p class="link">testimail</p>
                            <p class="link">subject</p>
                        </div>
                        <div class="col-lg-3">
                            <h3 class="py-5">Newsletters</h3>
                            <p class="link">Lorem ipsum dolor, sit amet consectetur  
                                est? Fuga, sapiente voluptate.
                            </p>
                             
                             <input type="text"  placeholder="Enter Your Email">
                             <button>Go</button>
                        </div>
                    </div>
                    <hr>
                    <p class="py-4"> Copyright @2024 all rights reserved | this is a made by <span>udaif</span></p>
                </div>
            </div>
        </div>
    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>